/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require datatables/jquery.dataTables.css
 *= require_self
 */

html, body, h1, h2, h3, h4, p, ol, ul, td, li, a {padding:0; margin:0;}

html, body { height:100%; }

body { background-color: #f4f4f4; color: #333;
      background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFElEQVQImWNgQALd3d2+pHIYGBgACDcHudBiWPsAAAAASUVORK5CYII=) repeat;
}

body, p, ol, ul, td{
  font-family: Helvetica, Lucida Grande, arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

a{
    color: #ED5D3B;
    text-decoration:none;
}
a:hover {
    color: #000;
}

.clear{
   clear:both;
   height:1px;
   margin-top:-1px;
   display:block;
   font-size: 1px;
   line-height: 0px;
}


input{
    background-color: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 4px 4px 4px 4px;
    font-family: Helvetica, Lucida Grande, arial, sans-serif;
    font-size:   13px;
}

textarea, select{
    border-radius: 4px 4px 4px 4px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    padding: 5px;
    background-color: #fff;
    font-family: Helvetica, Lucida Grande, arial, sans-serif;
    font-size:   13px;
    resize: both;
}


label {
    color: #555555;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}

.inline {
  display: inline;
}

input[type=submit], input[type=button], .button, .button:visited {
  margin:10px 0;
  float:left;
  background:#ED5D3B;
  color:#fff;
  font-size:15px;
  text-decoration:none;
  cursor:pointer;
  padding:10px 12px 8px 12px;
  opacity: 1.0;
  border:1px solid #fff;
  border-radius: 4px 4px 4px 4px;
}

input[type=submit]:hover, input[type=button]:hover, .button:hover {
  opacity: 0.8;
  background:#000;
  color:#fff;
}

hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:10px 0;border:none;}



img{
   border:none;
}

.left{
    float:left;
}

.right{
    float:right;
}

.small{
  font-size:11px;
}

h1, p.like-h1{
  font-size:24px;
  text-shadow: 0 1px 0 #FFFFFF;
}

h2{
  font-size:16px;
}

h3{
  font-size:13px;
}

h4{
  font-size:10px;
}

.margin-tb{
  margin:8px 0;
}

.margin-t{
  margin:20px 0 0 0;
}

.margin-none{margin:0;}

.margin-r{
  margin-right:10px;
}

.margin-rd{
  margin-right:20px;
}

.margin-l{
  margin-left:10px;
}

.padding_top_15{padding-top:6px;}

table{
  width:100%;
  background:#fff;
  padding:5px;
}

table ul{
  margin-left:33px;
}

table tr th{
  background: #dadada; /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #eaeaea 50%, #d1d1d1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(50%,#eaeaea), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%,#eaeaea 50%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%,#eaeaea 50%,#d1d1d1 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #fff 0%,#eaeaea 50%,#d1d1d1 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#D1D1D1',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #fff 0%,#eaeaea 50%,#d1d1d1 100%); /* W3C */
  border:1px solid #dadada;
  height:10px;
  padding:8px 10px;
  text-shadow:#FFFFFF 0 1px 0;
}

table tr td{
  padding: 0px 2px 0px 2px;
  border:1px solid #efefef;
  white-space: nowrap;
}

table tr td a{
  color:#ED5D3B;
  padding:4px 8px;
  display:block;
}

#notice {
    background:#E6EFC2;
    color: #529214;
    margin:8px 0;
}

.warning{
    background:#E6C2C2;
    padding:8px 15px;
}

#alert {
    background:#FFF6BF;
    color: #d53c00;
    margin:0 auto;
}

#notice, #alert {
    padding:8px 15px;
    z-index:100;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    position:absolute;
    top:22px;
    left:440px;
}

#alert ul{
    margin: 5px 19px;
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
    margin-left:22px;
  }
}


/*sections*/


div#header {
  background: #0e8ecd;
  background: -moz-linear-gradient(top, #01b2e6 0%, #0e8ecd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01b2e6), color-stop(100%,#0e8ecd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #01b2e6 0%,#0e8ecd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #01b2e6 0%,#0e8ecd 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #01b2e6 0%,#0e8ecd 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b2e6', endColorstr='#0e8ecd',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #01b2e6 0%,#0e8ecd 100%); /* W3C */
  color: white;
  overflow: visible;
  border-bottom:1px solid #067CAF;
  padding: 1px 0 10px 0;
  margin: 0;
  top:0;
  width:100%;
  z-index:100;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.4);

  height:70px;
}

div#main {
    background-color: #F0F0F0;
    padding:10px 10px;
    -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.35);
    max-width: 1850px;
    min-width: 900px;
    width: 97%;
    margin: 0 auto 0 auto;
}

div#main{
    margin: 0 auto 0;
    min-height: 100px;
    overflow-y:auto;
    position:relative;
    visibility:visible;
    margin-bottom:10px;
}

div#main h1 {
    margin-bottom:12px;
}

div#footer {
    margin: 0 auto 0;
    min-height: 20px;
}



#navbar ul {
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; }
#navbar ul li {
  float: left; }
#navbar ul li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; }
#navbar ul li a:hover {
  color: #c00;
  background-color: #fff; }

.print {
    float: right;
}



.delete{
    position:relative;
    background: asset_url('icons/delete24.png') no-repeat 0 0;
    height:24px;
    width:24px;
    display:block;
    margin-top:-20px;
    top:18px;
    left:-4px;
}

.delete:hover {
    top:21px;
}

.text_area_print_helper{
    display: none;
}

tr.open {}

tr.closed {
  opacity:0.5;
}

a.plain, a.plain:hover {
  color: #333;
  background:none;
}

#header a.plain, #header a.plain:hover {
  color: #fff;
  background:none;
}

